<app-navbar></app-navbar>
<div class="grid grid-cols-5">

    <div class="p-4 flex items-center mt-16 col-start-2 col-span-3" style="border:1px solid #cfcece">
        <img class="w-10 h-10 rounded-full mr-4" 
                  src="https://images.unsplash.com/photo-1694033996901-60322b8740dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80" 
                  alt="Avatar of User">
        <h1 class="text-slate-500">{{userName}}</h1>
        <div class="ml-auto">
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>


    <div class="mt-2 col-start-2 col-span-3">

        <div id="viewer" class="mt-24 h-fit" ></div>
    </div>


    <div class="p-4 flex items-center mt-2 col-start-2 col-span-3 space-x-11" style="border:1px solid #cfcece">
              <i class="fa-regular fa-thumbs-up"></i>
              <i class="fa-regular fa-share-from-square"></i>
              <i class="fa-regular fa-comment"></i>
    </div>

</div>

<!-- <div class="mt-16">

    <div id="viewer" class="mt-24" style="height: 500px;" ></div>
</div> -->